*.dll
*.suo
*.svclog
*.user
.vs
obj/
[Bb]in
[Dd]ebug*/
[Tt]est[Rr]esult*
packages/
*/E100Pro.WebApi.csproj.user
E100Pro.WebApi/Properties/PublishProfiles/*.pubxml
E100Pro.WebApi/logs
*/Generated
E100Pro.WebApi/Help/*
!E100Pro.WebApi/Help/Controllers
E100Pro.WebApi/App_Data/*
UoW.dgml
*.log
node_modules/